name: ML CI Workflow

on:
  push:
    branches:
      - main

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      # 1. Ambil kode dari repository
      - name: Checkout repository
        uses: actions/checkout@v4

      # 2. Setup Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      # 3. Install MLflow
      - name: Install MLflow
        run: |
          python -m pip install --upgrade pip
          pip install mlflow

      # 4. Jalankan training model via MLflow Project
      - name: Run MLflow Project
        run: |
          mlflow run MLProject --env-manager=local

      # 5. Simpan artefak
      - name: Upload ML artifacts
        uses: actions/upload-artifact@v4
        with:
          name: mlflow-artifacts
          path: mlruns/
